body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	margin: 0 auto;
    padding: 30px 30px 60px 30px;
    max-width: 800px;
}

audio {
    width: 280px;
}

button {
	background: #ddd;
	cursor: pointer;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    border: 0;
    padding: 3px 12px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 6px 14px 6px;
    border-radius: 5px;
}

h2.question {
    font-size: 100%;
    font-weight: normal;
}

.listitem {
    width: 700px;
    padding: 30px 0;
    margin-bottom: 30px;
    background: #f8f8f8;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    display: inline-block;
}

.switch {
	line-height: 100px;
	width: 100px;
	font-size: 48px;
	font-weight: bold;
	margin: 0 auto 16px auto;
    padding: 0;
}

.switch.active {
    background-color: #bd9;
}

button:hover, button:active {
	background: #fe9;
}

button.submit {
    font-size: 24px;
    line-height: 140%;
    font-weight: 300;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
}

ol.quiz {
    padding-left: 70px;
    white-space: nowrap;
}

ol.quiz li {
    font-size: 30px;
    font-weight: bold;
}

.col1, .col2, .col3 {
	display: inline-block;
	text-align: center;
	width: 25%;
}

.col2 {
    width: 45%;
    min-width: 280px;
    vertical-align: bottom;
    padding: 10px;
}

p {
    font-weight: 300;
    line-height: 140%;
}

.split {
    width: 150px;
    display: inline-block;
    margin: 0 20px 20px 0;
    height: 200px;
    text-align: left;
}

.centered {
    text-align: center;
}

.correct {
    color: #2e8b57;
}

.incorrect {
    color: #cb2000;
}