body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	margin: 30px;
}

audio {
    width: 280px;
}

button {
	background: #ddd;
	cursor: pointer;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    border: 0;
    padding: 3px 12px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 6px 14px 6px;
    border-radius: 5px;
}

.listitem {
    width: 700px;
    margin: 30px 0;
    padding: 30px 0;
    border-radius: 20px;
    background: #f0f0f0;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    display: inline-block;
}

.switch {
	line-height: 100px;
	width: 100px;
	font-size: 48px;
	font-weight: bold;
	margin: 0 auto 16px auto;
    padding: 0;
}

.switch.active {
    background-color: #bd9;
}

button:hover, button:active {
	background: #fe9;
}

ol {
    padding-left: 70px;
}

li {
    font-size: 40px;
    font-weight: bold;
}

.col1, .col2, .col3 {
	display: inline-block;
	text-align: center;
	width: 25%;
}

.col2 {
    width: 45%;
    min-width: 280px;
    vertical-align: bottom;
    padding: 10px;
}